body {
    margin: 0px 0px;
}
div {
    cursor: pointer;
    text-align: left;
    width: 100%;
    padding: 8px 0px;
    font-family: sans-serif;
    font-size: 11pt;
    background: #FFFFFF;
}
div:first-child {
    margin-top: 0px;
}
div:hover {
    background: #e1e1e1;
}
h2 {
    font-family: sans-serif;
    background: #f5f5f5;
    padding: 12px;
    margin: 0px 0px;
    border: 2px solid #d4d4d4;
}